{% extends "_base.html" %}
{% block content %}
  <div class="wrapper">
    <form class="form-horizontal form-signin" method="post" action="/">      
      <h2 class="form-signin-heading">Pi_Taskr - Login</h2>
    <label>Utilizador: </label>
    <input class="form-control" type="text" name="username" value="{{request.form.username}}">
    <label>Password: </label>
    <input class="form-control" type="password" name="password" value="{{request.form.password}}">
    <input class="btn-info login-btn form-control" type="submit" value="Login">
    </form>
    </div>

{% endblock %}


    